#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}

table.acknowledge {
  /*background-color: navy;
	border: solid black 10px;*/
	border-spacing: 40px;
	color: black;
	color: rgba(255,85,0,.75);
	font-family: Magneto;
}

table.acknowledge td {
  font-size:10pt;
  padding: 20px;
}

/* The following is for emphasis */

.emph{
  color: #ff5500;   
  /*font-style: italic;*/
}

/* color for R packages */
.pack{
  color:rgb(30,144,255);  /*dodgerblue*/
  font-weight:600;
}

/* color for R packages */
.func{
  color:#C93312;  /* Royal Tenanbaums 1*/
  font-weight:600;
}

.pipe{
  font-family:Courier;
  font-weight:600;
  color:#ff5500;
}

/* The following chunk removes the slide numbers */

slides > slide:not(.nobackground)::after {
    bottom: 20px;
    display: none;
    font-size: 12pt;
    line-height: 1.9;
    position: absolute;
    right: 60px;
}

/* The following allows for changing the title slide font*/

.title-slide hgroup h1 {
    color: #ff5500;
    font-size: 65px;
    letter-spacing: -3px;
    line-height: 1.4;
}

/* The following is for changing the font size of code chunks */
/* Each of the selectors is needed to change the different things found
within a code chunk*/

.prettyprint .pln, .prettyprint .pun, .prettyprint .opn, .prettyprint .clo,
.prettyprint .str, .prettyprint .lit, .prettyprint .atv, .prettyprint .tag, 
.prettyprint .kwd, .prettyprint .lang-r {
  font-size: 120%;
  font-family: "Inconsolata", "Source Code Pro", "Consolas", "Courier New", monospace;
  /*background-color:#ff5500;*/ /*changes background color of text, i.e. highlight, not the block*/
}


.prettyprint  {
  background-color:rgb(240,248,255);
  /*background-color:rgba(0,0,0,.05);*/  /*code block background, currently Alice blue rgb(240,248,255)*/
} 

.prettyprint .kwd, .prettyprint .tag .lang-r{
  color: #C93312;  /*#EE4000 #9B110E*/
}

/* The following is for manipulating code chunk positions */
/* Don't mind the warning it is giving about IE */

pre {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */ 
  padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  width: 100%; /* This changes where the code chunk box ends on the right side */
  font-size: 40%; /*changes output size; and comments*/
  /*border: 10px solid #ff5500;*/  /*code block and results border*/
  /*background-color:#ff5500;*/   /* results background*/
  
}


/* This will change the font size for output-- in theory?  */
/*MC -- in theory?  This bit has no effect that I can discern*/
article.smaller pre {
  /*font-size: 30pt;
  letter-spacing: 0;*/
  /*line-height: 20px;*/
}